<!DOCTTYPE html>
<html>
    include header.pug
    
    <body>

        -var head= ['S.No','Team Name','Team Players','College','Email','Contact','Date'];

        div(class="color")
            div(class="container")              
                div(class="pad")
                    h3(class="text-center content1")= "Registration Transaction Details"
                br

                div(style="overflow-x:auto")
                    table(class="text-center content table table-dark table-striped table-bordered")
                        col(width="10" height="1vh")
                        col(width="130")
                        col(width="130")
                        col(width="130")
                        col(width="130")
                        col(width="130")
                        col(width="130")
                        thead(class="heading thead-light")
                            tr
                                for r in head
                                    th= r
                               
                            tbody(class="eventable")
                                -for(var i=0;i<registers.length;i++)
                                    tr
                                        td= i+1
                                        td= registers[i].team_name
                                        td= registers[i].p1+", "+registers[i].p2+", "+registers[i].p3+", "+registers[i].p4+", "+registers[i].p5
                                        td= registers[i].college_name
                                        td= registers[i].email
                                        td= registers[i].contact
                                        td= registers[i].date.toString().substring(0,(registers[i].date.toString().indexOf(':')-2))
                                        
            
    <script src="../vikiran.js"></script>

    </body>
</html>