<!DOCTTYPE html>
<html>
    include header.pug
    
    <body>

        -var html_names=['Name','College Name','Enrollment No.','Year','E-Mail','Contact No.'];
        -var names= ['name','college_name','enroll_no','year','email','contact'];
        -var types= ['text','text','number','text','email','number'];

        div(class="color")
            div(class="container")  
                div(class="pad")
                    h3(class="text-center top content1")= "Registration"
                    form(class="contact-form" id="form_register")
                        -for(var i=1;i<=html_names.length;i++)
                            label(for="data"+i style="margin-right:1.5vw")= html_names[i-1]
                            -if(html_names[i-1]!='Year')
                                input(type=types[i-1] placeholder=html_names[i-1] id="data"+i name=names[i-1])
                                br
                            -else
                                select(id="data"+i style="width:100px;color:black")
                                    -for(var j=0;j<yearEnum.length;j++)
                                        option(value=`${yearEnum[j]}` style="color:black")= `${yearEnum[j]}`
                                <br/><br/><br/>
                        <br><br>

                        <br>
                
                        <button class="btn" id="sub" style="background-color:red;margin-bottom:1vh" type="submit">Submit</button>


        script.
            var total= '!{numbers}';
            var event= '!{Event}';

        <script src="../vikiran.js"></script>
    </body>
</html>